.inner-container{
    gap: 1.5rem;
    background: seagreen;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid orange;
    text-align: enter;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}

.inner-container .secondaryText{
    color: orange;
}

.inner-container .button{
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius:10px;
}